{% extends 'blog/base.html' %} {% block content %} {% load static %}
<div class="container custom-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
    <button
      class="navbar-toggler"
      type="button"
      data-toggler="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/home">
            <img
              src="{% static 'image/ph.png' %}"
              alt="Logo"
              class="navbar-logo"
            />
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="dropdown">
          <button
            class="btn btn-outline-primary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Profile
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/newpost">New Post</a></li>
            <li><a class="dropdown-item" href="/mypost">My Post</a></li>
            <li><a class="dropdown-item" href="/signout">Sign Out</a></li>
          </ul>
        </div>
      </form>
    </div>
  </nav>
</div>

<style>
  .navbar-logo {
    max-height: 60px;
    max-width: 100%;
    height: auto;
  }

  .custom-container {
    padding: 10px;
  }

  .navbar {
    padding: 0.5rem 1rem;
  }
</style>

<br /><br />

<div class="container custom-container" style="max-width: 1350px">
  {% for post in posts %}
  <article class="media content-section">
    <div
      class="media-body"
      style="border: 1px solid black; padding: 23px; margin-bottom: 10px"
    >
      <div class="article-metadata">
        <h1
          class="text-uppercase"
          style="text-align: left; float: left; color: black"
        >
          {{ post.author }}
        </h1>
        <h5 style="text-align: right; float: right">
          {{ post.date_posted|date:"F d,Y"}}
        </h5>
        <hr style="clear: both" />
      </div>
      <h3>{{ post.title }}</h3>
      <p class="article-content">{{ post.content }}</p>
      <br /><br />
    </div>
  </article>
  {% endfor %}
</div>

{% endblock %}
