{% extends 'blog/base.html' %} {% block content %} {% load static %}
<div class="container custom-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/home">
            <img
              src="{% static 'image/ph.png' %}"
              alt="Logo"
              class="navbar-logo"
              style="height: 50px"
            />
          </a>
        </li>
      </ul>
      <div class="dropdown">
        <button
          class="btn btn-outline-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Profile
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li>
            <a class="dropdown-item" href="{% url 'newPost' %}">New Post</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'home' %}">Home</a>
          </li>

          <li>
            <a class="dropdown-item" href="{% url 'myPost' %}">My Posts</a>
          </li>
          <li><a class="dropdown-item" href="/signout">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container custom-container" style="max-width: 900px">
  <h1 class="mt-4">Create a New Post</h1>
  <hr />
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label"><strong>Title</strong></label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
      />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label"><strong>Content</strong></label>
      <textarea
        class="form-control"
        id="content"
        name="content"
        rows="6"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>
</div>
{% endblock %}
